.row{   

    background-color:black;
    color:white;
    font-size:20px;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}


#point{
    display:flex;
    justify-content: space-between;
}
#jack{
    display:flex;
    justify-content:space-between;
}
#info{
    color: #a52a26;
    font-weight:bold;
    
}
#me{
    color:white;
    font-style: italic;
}
#Page{
    color:white;
    
}
#Chat{
    color:white;
}
#Bone{
    background:black;
}
